<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125697360-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125697360-1');
    </script>

    <meta charset="utf-8">
    <title>Karl RAF personal website</title>
    <meta name="description" content="I share my opinions and my thoughts on tech and startups.">
    <!-- Open Graph data -->
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article:
    http://ogp.me/ns/article#">
    <meta property="og:title" content="Karl RAF personal website" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://karlraf.co/" />
    <meta property="og:description" content="I share my opinions and my thoughts on tech and startups." />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="I share my opinions and my thoughts on tech and startups.">
    <meta name="twitter:site" content="Your @KarlRfdmna">
    <meta name="twitter:title" content="Karl RAF personal website">
    <meta name="twitter:description" content="I share my opinions and my thoughts on tech and startups.">
    <meta name="twitter:creator" content="Your @KarlRfdmna">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <link rel="stylesheet" href="style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:400,500,600,700,800" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>


    <div id='container'>
      <header>
        <h4 class="animated fadeIn">Essentials:</h4>
        <h1 class="animated fadeIn">Karl Rafidimanana<br />French<span id="hacker"> slasheur</span></h1>
        <h2 class="animated fadeIn">Currently residing in Paris, and on the lookout for my next opportunity.</h2>
        <a class="ghost animated fadeIn" href="https://www.linkedin.com/in/karl-rafidimanana-058018137/" target="_blank">My Background</a><a class="blue animated fadeIn" href="mailto:karlforbusiness@gmail.com?subject=Need to talk" target="_blank">Get in Touch</a>
      </header>

      <section id="background" class="animated fadeIn">
        <h4>Background:</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, nesciunt, aperiam libero praesentium exercitationem, doloribus eaque debitis nihil, atque esse eius? Omnis nemo ad architecto, quam harum et modi, aut? <b><a href="#">Somewhere</a></b> and <b><a href="#" target="_blank">somewhere</a></b>.</p>
        <p>See a more formal resume on <a href="https://www.linkedin.com/in/karl-rafidimanana-058018137/" class="link" target="_blank">LinkedIn</a>, read impulsive thoughts on <a href="https://twitter.com/KarlRfdmna" class="link" target="_blank">Twitter</a>, get in touch with me via <a href="mailto:karlforbusiness@gmail.com?subject=Need to talk" class="link">E-mail</a>, follow me in my code journey <a href="https://github.com/KarlRaf" class="link" target="_blank">Github</a><br> or just let's grab a beer.</p>
      </section>

    </div>
   <!--  <div class="wrapper" style="width: 100%; position: relative;">
      <div class="background-light">
        <div class="page-container" style="width: 800px; margin: 0 auto;">
          <div class="page-layout" style="display: flex">
            <div class="left-column" style="flex: 0 0 30%;">
              <div class="sidebar">
                <div class="sidebar-header">
                  <h2 id="brand">Hi I'm Karl</h2>
                  <p id="caption">All things tech</p>
                </div>
                <div class="sidebar-links">
                  <div class="sidebar-link">
                    <a href="https://www.linkedin.com/in/karl-rafidimanana-058018137/" target="_blank" rel="noopener noreferrer">Linkedin</a>
                  </div>
                  <div class="sidebar-link">
                    <a href="https://github.com/KarlRaf" target="_blank" rel="noopener noreferrer">Github</a>
                  </div>
                  <div class="sidebar-link">
                    <a href="https://twitter.com/KarlRfdmna" target="_blank" rel="noopener noreferrer">Twitter</a>
                  </div>
                </div>
                <div class="sidebar-cta">
                  <a href="mailto:karlforbusiness@gmail.com?subject=Need to talk" class="btn-orange-transparent">Email</a>
                </div>
                <div class="sidebar-pic" style="padding-top: 15px;">
                  <img src="https://avatars2.githubusercontent.com/u/37222324?s=400&u=fc4f70ec4f4e3f8b9336cf1cf589632bba0ab46a&v=4" alt="Karl" style="visibility: visible;">
                </div>
              </div>
            </div>
            <div class="right-column" style="flex: 0 0 70%;">
              <div class="header">
                <div class="header-title">
                  <h1>Are you ready to launch Europe next unicorn?</h1>
                </div>
                <div class="header-paragraph" style=" margin-top: -50px;">
                  <p>Wannabe entrepreneur and junior fullstack dev, I learned to code at <a href="https://www.lewagon.com/" target="_blank">LeWagon</a> an amazing coding bootcamp. Currently student at <a href="https://www.em-lyon.com/" target="_blank">EMLyon Business School</a>.Before that I studied History and Law at La Sorbonne in Paris.</p>
                  <br>
                  <p> You will read here, some articles mostly about tech and startups. Do not hesitate to share your opinion with me on twitter. But enough about me, I would love to hear about you and your projects. I am always happy to discuss new collaborations.</p>
                </div>
                <div class="header-button">
                  <a href="mailto:karlforbusiness@gmail.com?subject=Hello moto" class="btn-orange-plain">drop me an email</a>
                </div>
                </div>
                <br>
                <h1>My latest blog post</h1>
                <div class="header">
                  {{content}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <script>

      var images = new Array
                      images[1] = "https://media.giphy.com/media/14vGP6boIKc0XS/giphy.gif",
                      images[2] = "https://media.giphy.com/media/JCE28WbWNb2Mw/giphy.gif",
                      images[3] = "https://media.giphy.com/media/r46rUK80uzTuo/giphy.gif",
                      images[4] = "https://media.giphy.com/media/9rpJFXstNnkLm/giphy.gif",
                      images[5] = "https://media.giphy.com/media/BtjN9NRPgzr1e/giphy.gif",
                      images[6] = "https://media.giphy.com/media/9g3rqWnPbUqOI/giphy.gif",
                      images[7] = "https://media.giphy.com/media/8DlReDCEOzza0/giphy.gif";
                      images[8] = "https://media.giphy.com/media/We6320wXGTvwY/giphy.gif";
                      images[9] = "https://media.giphy.com/media/ZszQOKH7JWgg/giphy.gif";
                      images[10] = "https://media.giphy.com/media/135HorrA3p7x04/giphy.gif";
                      images[11] = "https://media.giphy.com/media/1m7jcTQUzlvDa/giphy.gif";
                      images[12] = "https://media.giphy.com/media/whQyuuCi4FHpe/giphy.gif";
                      images[13] = "https://media.giphy.com/media/zmKgeNxKAX22k/giphy.gif";
                      images[14] = "https://media.giphy.com/media/26BkMadvsqSlAJdkY/giphy.gif";



        var body = document.getElementsByTagName('body')[0];
        var hacker = document.getElementById("hacker");

          hacker.onmouseover = function(){

            ga('send', 'event', { eventCategory: 'tracking', eventAction: 'hover', eventLabel: 'gif'});



              // body.classList.add('bg-gif');
              var imgCount = 14;
              var randomCount = Math.floor(Math.random() * imgCount) + 1;

              body.style.background = "linear-gradient(rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0.88)), url(" + images[randomCount] +") scroll no-repeat center/cover";
          }

          hacker.onmouseout = function(){

              body.style.background = "";
          }

          console.log("%c karlraf.co ","background: #4A90E2; color: #ffffff; font-size: 18px; border-radius: 3px;"),console.log("%c want to hire me \ud83d\ude80 ? ","background: #f4f4f2; font-size: 14px; border-radius: 3px;"),console.log(""),console.log("%c > hireMe() ","background: #444444; color: #ffffff; font-size: 14px; border-radius: 3px; font-family: courier;");

          function hireMe() {
            console.log("\ud83d\udca5\ud83d\udca5\ud83d\udca5");
            window.location.replace("https://www.linkedin.com/in/karl-rafidimanana-058018137/");
            };



      // function togglingItems() {

      //   const brandTop = document.querySelector("#brand").getBoundingClientRect().top;
      //   const bannerHeight = document.querySelector(".background-light").offsetHeight;

      //   const button = document.querySelector(".btn-orange-transparent");
      //   const picture = document.querySelector(".sidebar-pic img");

      //   const img = document.querySelector(".project-img")


      //   function isScolled() {
      //     return (brandTop + window.scrollY) > bannerHeight;
      //   }

      //   function isSafari() {
      //     return window.navigator.vendor.includes("Apple");
      //   }

      //   function toggleButton() {
      //     // console.log(brandTop, window.scrollY, bannerHeight);
      //     if (isScolled()) {
      //       button.classList.add("button-active");
      //     } else {
      //       button.classList.remove("button-active");
      //     }
      //   }

      //   function togglePicture() {
      //     if (isScolled() && isSafari()) {
      //       picture.style.visibility = "hidden";
      //     } else {
      //       picture.style.visibility = "visible";
      //     }

      //   }

      //   window.addEventListener('scroll', toggleButton);
      //   window.addEventListener('scroll', togglePicture);

      // }
      // togglingItems()
    </script>

    <script type="application/javascript">
      function getIP(json) {
        console.log("🌍 Your IP address is: ", json.ip);
      }
    </script>

    <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>

  </body>
</html>





